<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="../dist/css/main.min.css">
  <title>Document</title>
</head>

<body style="background-color: rgb(199, 199, 199); color: white;">
  <div class="top" style="padding: 500px 20px;">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga veritatis pariatur id iusto expedita ratione nam!
    Sapiente sit doloremque alias eaque dolore magnam ipsa recusandae odit. Impedit doloribus porro saepe?
    Totam ad exercitationem atque voluptas consequuntur distinctio, eveniet voluptatibus deleniti nihil ab libero natus
    nostrum adipisci doloribus, ullam similique beatae impedit perferendis architecto deserunt dolores reiciendis
    tempore.
    Quae, alias asperiores!
    Rem tempora quod a, vero dicta numquam ipsa modi. Laboriosam sapiente magnam doloribus amet asperiores aperiam
    tempore
    molestiae, ad esse nisi cupiditate ab similique omnis nam rerum perspiciatis. Quam, minima?
    Vero magnam veniam laboriosam ea asperiores debitis, amet quae praesentium dicta perspiciatis deserunt aut adipisci
    pariatur repudiandae modi laborum et voluptates expedita tenetur deleniti tempore non possimus sed animi? Facilis?
  </div>
  <div id="nav-header" class="nav-header">
    <div class="container side-header">
      <h1 class="header-logo">
        <a href=""><img src="../images/header-logo-sm.png" alt="logo-wedding"></a>
      </h1>
      <nav class="side-navigation">
        <button class="is-table"> <span class="fa fa-navicon"></span>
          <span class="screen-reader-text">Primary Menu</span>
        </button>
        <div class="side-navigation__list">
          <ul class="menu">
            <li class="menu-item"><a href="#">Home</a></li>
            <li class="menu-item"><a href="#">Groom & Brige</a></li>
            <li class="menu-item"><a href="#">When & Where</a></li>
            <li class="menu-item"><a href="#">Gallery</a></li>
            <li class="menu-item"><a href="#">Features</a></li>
          </ul>
        </div>
      </nav>
      <a href="#" class="ribbon-menu">
        <span>LTK</span>
      </a>
    </div>
  </div>
  <div class="top" style="padding: 200px 20px;margin-bottom: 2000px; background-color: white">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus magni necessitatibus sequi culpa optio impedit
    quia odit inventore est voluptas ab consectetur reiciendis, voluptatem asperiores quam doloribus. Quaerat, molestias
    delectus.
    Quae pariatur quibusdam minima hic quaerat sequi. Officia, obcaecati distinctio ab quisquam nam quis animi,
    doloremque
    nemo, corrupti incidunt aliquid vitae. Illo, assumenda excepturi? Exercitationem possimus quasi mollitia magni
    aliquam!
    Officia ex nam similique, beatae minima dicta amet omnis sint, architecto harum eaque fuga eos numquam cupiditate
    eius
    blanditiis mollitia ullam quae soluta nobis quisquam sed ut laborum exercitationem. Sed.
    Deleniti quaerat mollitia magni natus pariatur illum labore doloremque. Dolorum odio voluptate corrupti ea enim
    sequi
    officia mollitia similique, a praesentium tempore debitis labore fuga, dolore culpa iusto, quibusdam deleniti!
    Id, explicabo repellat eveniet similique corrupti quia voluptas vero modi obcaecati tenetur fuga doloremque.
    Provident
    placeat perspiciatis, dolorum pariatur sequi omnis recusandae minus repudiandae soluta, fugiat accusantium quis?
    Modi,
    nisi?
    Laborum, veniam deserunt. Porro ipsa quae molestiae minima voluptate ducimus aperiam eos id officia laboriosam
    numquam, rem repudiandae sunt ab et labore provident distinctio inventore totam neque non. Nostrum, quia?
    Aspernatur quia dolorem, consequuntur perspiciatis eum et ad, accusantium, doloribus quibusdam corrupti non porro
    repellendus blanditiis ullam saepe quaerat labore odit similique exercitationem nulla? Architecto harum perferendis
    libero assumenda odio.
    Eaque tenetur recusandae cumque porro iure pariatur nesciunt officiis, temporibus repellat eveniet earum dolorem
    libero enim natus assumenda fugit reprehenderit repudiandae at commodi? Eum, provident. Error magni molestias at
    nam?
    Quo vero quasi consectetur fuga deleniti dolores, non commodi, laborum ducimus deserunt aliquam vel aperiam
    exercitationem maxime debitis asperiores veritatis explicabo, cupiditate dicta. Excepturi quia tenetur dolorem
    deleniti doloribus expedita.
    Sunt nemo veniam placeat ipsa pariatur, vel nostrum dignissimos corporis provident consequatur voluptate eveniet non
    doloribus repudiandae suscipit impedit in saepe laborum aliquid eos accusantium nulla mollitia ea! Delectus, quis.
  </div>
  <script src="../dist/js/scroll.js"></script>
</body>

</html>