.grid-moment-wedding {
  max-width: 100%;

  .grid-sizer,
  .grid-item {
    width: 25%;
    padding: 5px 10px;

    img {
      width: 100%;
      height: auto;
    }
  }
  .grid-item-hidden {
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
  }
}

.captured-moments {
  .filter-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    &-item {
      padding: 0 10px;
      margin: 0 10px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        padding-bottom: 5px;
        color: $text-color;
        transition: all 0.3s ease;
        &:hover {
          color: $color-black;
        }
      }
      &.isActive a {
        border-bottom: 2px solid $color-web-2;
      }
    }
  }
}
