.footer-section {
  padding: 15% 0 3em;
  background-color: #ffffff;
  background-image: url('../../images/footer.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #e5e5e5;
  background-size: cover;
  .footer-logo {
    text-align: center;
  }
  .footer-copyright {
    text-align: center;
    font-size: 90%;
    font-style: italic;
    margin-top: 3em;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
