.intro {
  .intro-couple {
    display: flex;
    justify-content: center;
    &-img {
      font-size: 1.2rem;
    }
  }

  .bg-combine {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include respond(tablets) {
  }
  @include respond(phones) {
    .intro-couple {
      flex-direction: column;
      text-align: center;

      .bg-combine {
        padding: 20px 0;
      }
    }
  }
}
