.nav-header {
  position: relative;
  background-color: #fff;
  height: 65px;
  border: 1px solid #e5e5e5;
  z-index: 999;
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .side-header {
    position: relative;
    height: 100%;
    .header-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 70px;
      padding: 10px 0;
      margin: 0 0 0 15px;
      line-height: 50px;
      z-index: 100;
    }
    .side-navigation {
      max-width: 940px;
      margin: 0 auto;
      height: 100%;

      .is-table {
        display: none;
      }
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        &-item {
          position: relative;
          list-style: none;
          padding: 20px 0;
          margin: 0 1.5em;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: $text-color;
            transition: all 0.25s ease-in-out;
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 4px;
              margin-bottom: -1px;
              // background-color: $color-web-2;
              background-color: transparent;
              transition: all 0.25s ease-in-out;
            }
          }
          &:hover {
            a {
              color: $color-black;
              &::after {
                background-color: $color-web-2;
                transition: all 0.25s ease-in-out;
              }
            }
          }
        }
      }

      // @include respond(laptops) {
      //   max-width: 1185px;
      // }

      @include respond(tablets) {
        .is-table {
          display: block;
          position: relative;
          border: none;
          outline: none;
          background-color: white;
          height: 100%;
          text-align: right;
          font-size: 1.3rem;
          width: 85%;
          margin: 0 auto;
          cursor: pointer;
          color: $text-color;

          .screen-reader-text {
            position: absolute;
            right: 0;
            transform: translate(-100%, 0);
          }
        }
        & {
          max-width: auto;
        }
        &__list {
          opacity: 0;
          display: none;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          width: 85%;
          margin: 0 auto;
          background-color: #fff;
          height: auto;
          max-height: 50vh;
          overflow: auto;
          z-index: 10;
          .menu {
            display: flex;
            flex-direction: column;

            &-item {
              display: block;
              width: 100%;
              border: 1px solid #e5e5e5;

              a {
                text-align: center;
                display: inherit;
                &::after {
                  height: 0;
                }
              }
            }
          }

          &.isActive {
            opacity: 1;
            display: block;
          }
        }
      }
    }
    .ribbon-menu {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      width: 60px;
      height: 80px;
      margin: -5px 5px 0 0;
      padding: 10px 0;
      color: #fff;
      background-color: $color-web-2;
      text-align: center;
      transition: all 0.25s ease-in-out;
      text-decoration: none;
      &:hover,
      &:focus {
        padding-top: 20px;
        height: 90px;
      }
      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
      }
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 60px;
        height: 10px;
        border-left: 30px solid $color-web-2;
        border-right: 30px solid $color-web-2;
        border-bottom: 10px solid;
        border-bottom-color: transparent !important;
      }
    }
  }
}
