.wedding-invitation {
  background-image: url('../../images/rsvp.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .card-wedding-invitation {
    width: calc(60% - (0.4 * 30px));
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 3rem 1.2rem;
  }
  .form {
    padding: 0 1.2rem;
    padding-bottom: 2rem;
    font-style: italic;
    .ctr {
      margin-top: 1.2rem;
    }
  }
  @include respond(tablets) {
    .card-wedding-invitation {
      width: 85%;
    }
  }
  @include respond(phones) {
    .card-wedding-invitation {
      width: 100%;
    }
  }
}
